html,
body,
#content {
    margin: 0;
    padding: 0;
    height: 100%;
}

#content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
}

#content #game {
    background-color: white;
    z-index: 2;
    border: 1px solid black;
}

#game {
    width: 700px;
    height: 400px;
    position: relative;
}